<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_Elliot: Music</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/siteCounter.js"></script>
    <!-- IE11 support -->
    <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"
        crossorigin="anonymous"></script>
    <script nomodule
        src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll"
        crossorigin="anonymous"></script>
</head>

<body>
    <header id="header"></header>
    <div id="top"></div>
    <div class="spacer"></div>
    <section class="typed"
        style="background-image: url(/img/music-bg.jpg); background-size:cover;background-position:center;">
        <span class="h1 typed-title font-LXGW"></span>
    </section>




    <main id="main">
        <section class="container">
            <div class="container-fluid blog Chinese blackFont">

                <div class="row">
                    <div class="row g-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="/music.html">Music</a></li>
                                <li class="breadcrumb-item active" aria-current="page">砂之器</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row g-2">

                        <div class="col-md-4 order-md-2">
                            <aside class="position-sticky" style="top: 3.5rem;">
                                <div class="p-4 mb-3 bg-light rounded">
                                    <h4 class="fst-italic">About</h4>
                                    <p class="mb-0">
                                        转自My_Elliot在2022年2月12日发狂写的一条朋友圈。这不是诗，因为他从活过来到现在从来没有了解过古诗新体诗的韵，一行一行写只不过出于奇怪的打字习惯罢了
                                    </p>
                                </div>

                                <div class="p-4" id="views_on_music">
                                </div>
                            </aside>
                        </div>

                        <div class="col-md-8 order-md-1 p-4">

                            <article class="blog-post">
                                <div class="youtube-video">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aptD-vs937c"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <h1 class="blog-post-title">《砂之器》<small>Jer 柳应廷</small></h1>
                                <p class="blog-post-meta">March 3, 2022 by <span class="font-gothic">My_Elliot</span>
                                </p>
                                <p>
                                    jer的音乐和eason的不一样<br>
                                    他不要扭扭捏捏的情歌<br>
                                    要把国外的音乐带进来<br>
                                    于是有了砂之器<br>
                                </p>
                                <hr>
                                <p>想起五六年前回外婆家<br>
                                    瓦房旁新起的砖楼尚未装修<br>
                                    废弃的天井角落搁着一笼鸡仔<br>
                                    十只八只<br>
                                    却有一只不同<br>
                                    似乎先天缺陷<br>
                                    走路瘸腿面上有疤<br>
                                    我不忍<br>
                                    便偷偷赠予了一些米糠虫蚁的照顾<br>
                                    但它似乎不满足<br>
                                    争要和旁边的大黄狗抢碗里的剩饭<br>
                                    最终被咬<br>
                                    瞎了眼，增了新疤，腿更瘸了<br>
                                    躲在天井桥下<br>
                                    我惊，无能为力<br>
                                    我不忍再看，逃开<br>
                                    也许两天后它就会被捡起来丢掉<br>
                                </p>
                                <hr>
                                <p>
                                    个把星期前在老家<br>
                                    年三十晚上是落水天<br>
                                    外面四度的空气一点不像广东的冬季<br>
                                    但大家好像都很暖和<br>
                                    串门去了<br>
                                    留我一人在家看春晚<br>
                                    一只狗勾见我孤单<br>
                                    闯进了我家一楼门厅<br>
                                    躲在长板凳下不住打抖<br>
                                    我不忍<br>
                                    便拿毛巾擦过它的毛<br>
                                    想用电吹风吹干<br>
                                    哪知它竟受马达声的惊吓<br>
                                    想逃<br>
                                    我才知它腿也是瘸的<br>
                                    是这喜庆晚上新近坏的<br>
                                    我不忍<br>
                                    可抬头一望<br>
                                    它已逃进了广东四度落水天的黑暗中了<br>
                                    我不忍<br>
                                </p>
                                <hr>
                                <p>
                                    可我不忍有何用？<br>
                                    jer的砂之器写<br>
                                    “谁躲在命运 大门后，<br>
                                    子宫里 窥望日月 怎么走”<br>
                                    无论是鸡仔狗勾还是我<br>
                                    命运都是前世注定的<br>
                                    也许是转世来赎罪<br>
                                    也许是转世来团聚<br>
                                    他们注定悲惨<br>
                                    我注定为他们的悲惨悲伤<br>
                                    生命脆弱<br>
                                    要珍惜眼前尚存的才是<br>
                                    不要等往后回家<br>
                                    “望母亲 突然 白了首，<br>
                                    其嶙峋双手 掬起 像沙漏”<br>
                                    被时间磨灭了当下<br>
                                    就等乎于错过一切了<br>
                                </p>
                                <hr>
                                <p>
                                    这段时间情感和观点都很多<br>
                                    可能还是作业太少了<br>
                                    前段时间受某人之安利<br>
                                    做了个<abbr title="Myers–Briggs Type Indicator">mbti</abbr><br>
                                    发现是isfp<br>
                                    说我sensitive to others<br>
                                    可能就此对号入座<br>
                                    于是做了我这种人该做的吧<br>
                                </p>
                            </article>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>




    <footer id="footer"></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/codeReuse.js"></script>

    <!-- Customized js -->
    <script>
        $(document).ready(function () {
            var options = {
                strings: ['《砂 之 器》 `——` `Jer 柳 应 廷`   '],
                typeSpeed: 300,
                showCursor: false,
            };

            var typed = new Typed('.typed-title', options);
        });
    </script>
</body>

</html>