<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_Elliot: My view on Manchester United</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/siteCounter.js"></script>
    <!-- IE11 support -->
    <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"
        crossorigin="anonymous"></script>
    <script nomodule
        src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll"
        crossorigin="anonymous"></script>
</head>

<body>
    <header id="header"></header>
    <div id="top"></div>
    <div class="spacer"></div>
    <section class="typed"
        style="background-image: url(/img/vom-bg.jpg); background-size:cover;background-position:center;">
        <span class="h1 typed-title"></span>
    </section>




    <main id="main">
        <section class="container">
            <div class="container-fluid blog blackFont">
                <div class="row">
                    <div class="row g-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="/Manchester_United.html">Manchester United</a></li>
                                <li class="breadcrumb-item active" aria-current="page">The Reason I Become A fan of
                                    Manchester United</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row g-2">


                        <div class="col-md-4 order-md-2">
                            <aside class="position-sticky" style="top: 3.5rem;">
                                <div class="p-4 mb-3 bg-light rounded">
                                    <h4 class="fst-italic">About</h4>
                                    <p class="mb-0"><span class="font-gothic">My_Elliot</span> becomes a fan of
                                        Manchester United
                                        in his adolescence, and will keep this passion with him all the time.
                                    </p>
                                </div>

                                <div class="p-4" id="views_on_MU">
                                </div>
                            </aside>
                        </div>

                        <div class="col-md-8 order-md-1 p-4">

                            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                                January 2022
                            </h3>

                            <article class="blog-post">
                                <h1 class="blog-post-title">The Reason I Become A fan of Manchester United</h1>
                                <p class="blog-post-meta"><time datetime="2022-01-27">January 27, 2022</time> by <span
                                        class="font-gothic">My_Elliot</span></p>
                                <p>
                                    At the very beginning, I like all the sports regardless whether I can get access to
                                    them, especially for those ice/snow sports that are exhilarating and whimsical if
                                    you are living in
                                    subtropical zone. At that time, what I focus on sports are the amazing thrill of
                                    them. Watching skating and skiing in TV, I as an audience can even share the
                                    thrill of these sport without being in the field. Somebody mentions this
                                    phenomenon as empathy. I thought I was really empathic in my childhood.
                                </p>
                                <p>
                                    But time goes fast and I become less empathic in my adolescence due to inevitable
                                    human
                                    nature. Then I find it hard to like those X-games any more, and gradually I lost the
                                    joy of watching them. Obviously, it’s time for me to dig for a brand-new hobby that
                                    can distract me from my growing pressure in both life and coursework. I once
                                    considered basketball, but it’s too common in China that if you ask any boys in
                                    campus whether they play basketball they would definitely say YES. “Awwww it’s not
                                    cool at all to be regular”, I thought. Also, I have a really embarrassing memory on
                                    playing basketball tracing back to my primary school life, which is really
                                    disgraceful for me even recall it now. So ultimately, I tried to escape this one,
                                    and picked the opposite, football.
                                </p>
                                <p>
                                    Hence, when I was around 14 (~2014), I started to lay my concentration on football.
                                    As we all know, sir Ferguson retired in 2013 and in the following year David Moyes,
                                    the man recommended by sir Ferguson to the management before his retirement, was on
                                    the wheel. But in 2014, the most breaking news is Moyes got sacked. You cannot
                                    imagine how negative news could affect a bystander greater than positive ones. From
                                    this news I started to know United. and its glorious history in both England and
                                    Europe football. And this initiated my interest on this special club. Story was on.
                                </p>
                                <p>
                                    Unfortunately, in the following years, I’m not able to witness United win a trophy
                                    in the Premier League again. Nevertheless, United is also one of the richest and
                                    most popular clubs in this world, which is really surprising to me. What’s worse,
                                    whoever the manager (or coach?) is, things are not getting better. We had talent
                                    Moyes, sophisticated van Gaal and Mourinho, former player Solskjaer and now
                                    Rangnick, but United is still in
                                    reconstruction, naively hoping to recreate our glory days. My friends have asked me
                                    for many
                                    times why
                                    I still support a team that seems to have no future in predictably short term.
                                    Usually, I have no answer because it’s also a big question raised myself. But now, I
                                    figure it out:
                                </p>
                                <blockquote class="blockquote fst-italic">
                                    <p class="font-TNR">Perhaps that’s because I still have a great ability of sympathy,
                                        though my
                                        empathy degenerates.</p>
                                </blockquote>
                                <p class="text-end">(This is merely a joke. Never mind it please, red devils.)</p>

                            </article>

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>




    <footer id="footer"></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/js/codeReuse.js"></script>

    <!-- Customized js -->
    <script>
        $(document).ready(function () {
            var options = {
                strings: ['Glory glory Man. United!', 'Glazers OUT!^1000', 'Rangnick deserves!^1000'],
                typeSpeed: 40,
                backSpeed: 20,
                delayTime: 3000,
                loop: true,
                loopCount: Infinity,
                showCursor: false,
            };

            var typed = new Typed('.typed-title', options);
        });
    </script>
</body>

</html>